groupName: cert-manager-webhook-inwx.smueller18.gitlab.com

credentialsSecretRefs:
- inwx-credentials

deployment:
  loglevel: 2

certManager:
  namespace: cert-manager
  serviceAccountName: cert-manager

image:
  repository: ghcr.io/andibraeu/cert-manager-webhook-inwx
  tag: v0.8.2@sha256:a25e81238591e058c94a577d772077de0461caac299f51a1c987a221a1369b94
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 443

resources: {}
#  limits:
#    cpu: 100m
#    memory: 128Mi
#  requests:
#    cpu: 10m
#    memory: 24Mi

nodeSelector: {}

tolerations: []

affinity: {}
