apiVersion: v2
name: openhab-cloud
description: A Helm chart for OpenHAB Cloud
type: application
dependencies:
    - name: redis
      version: 21.2.14
      repository: oci://registry-1.docker.io/bitnamicharts
      condition: redis.enabled    
    - name: mongodb
      version: 15.1.x
      repository: oci://registry-1.docker.io/bitnamicharts
      condition: mongodb.enabled
      
version: 1.2.2
appVersion: "a8138a3"
